<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/task/spring-context-4.2.xsd">

	<!-- Basic Configurations -->
	<context:annotation-config />

	<context:property-placeholder location="/WEB-INF/properties/common.properties"
		file-encoding="UTF-8" ignore-resource-not-found="false"
		ignore-unresolvable="false" />

	<context:component-scan base-package="com.scsk.model" />
	<context:component-scan base-package="com.scsk.repository" />
	<context:component-scan base-package="com.scsk.service" />
	<context:component-scan base-package="com.scsk.controller" />
	<context:component-scan base-package="com.scsk.report" />
	<context:component-scan base-package="com.scsk.config" />
	<context:component-scan base-package="com.scsk.util" />

	<!-- SpringMVC -->
	<import resource="spring-mvc.xml" />

	<!-- SpringSecurity -->
	<import resource="spring-security.xml" />

</beans>